@font-face {
  font-family: Raleway;
  src: url(./Raleway-VariableFont_wght.ttf);
}
body {
  display: block;
  font-family: Raleway;
  background-attachment: fixed;
  background-color: darkslategray;
  background-image: url("./back.png");
  background-position: 0 0;
  background-size: auto 100%;
  background-clip: padding-box;
  padding: 0 0;
  margin: 0 0;
}

.navbar {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 6.5%;
  padding: 0 0;
  margin: 0 0;
  background-color: rgba(35, 123, 54, 0.21);
  backdrop-filter: blur(18px);
  justify-content: space-between;
  justify-items: center;
  align-items: stretch;
  border-bottom-left-radius: 3.41796875vh;
  border-bottom-right-radius: 3.41796875vh;
  overflow: hidden;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 2;
}

.navbar-section {
  display: flex;
  position: relative;
  height: 100%;
  width: auto;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 0 32px;
}

#page-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}
#cart-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  margin-left: 12px;
}

#main-logo {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-self: center;
  flex-direction: column;
  margin-top: 17.523%;
  height: 30vh;
  padding: 0 20.13%;
}
#main-logo img {
  height: 50%;
}
#cafe-label {
  display: block;
  font-size: 220%;
  font-weight: medium;
  color: #237d37;
  align-self: center;
  margin-top: 10%;
}
.button-1 {
  display: block;
  position: relative;
  background-color: #00000000;
  height: fit-content;
  width: fit-content;
  padding: 6px 24px;
  margin: 0 6px;
}

.button-1 a {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #237d37;
}

.button-2 {
  display: block;
  position: relative;
  background-color: rgba(249, 226, 184, 0.85);
  height: fit-content;
  width: fit-content;
  padding: 8px 30px;
  margin: 0 6px;
  border-radius: 50vh;
  font-weight: bold;
}

.button-2 a {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #237d37;
}

.button-3 {
  display: block;
  position: relative;
  background-color: rgba(249, 226, 184, 0.85);
  height: fit-content;
  width: fit-content;
  padding: 10px 35px;
  margin: 0 6px;
  border-radius: 15px;
  align-self: center;
  border: solid 1px #237d37;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.button-3 a {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18pt;
  text-align: center;
  text-decoration: none;
  color: #237d37;
}

.main-content {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  height: auto;
  background-color: #f9e2b8;
  border-top-left-radius: 3.41796875vh;
  border-top-right-radius: 3.41796875vh;
  align-items: center;
  padding: 12px 0;
  justify-content: space-around;
  margin: 0 0;
  margin-top: 30px;
}

@media (max-width: 650px) {
  #cart-icon {
    display: none;
  }
  nav .button-1 {
    display: none;
  }
}
@media (max-width: 450px) {
  nav .button-2 {
    display: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  background-color: #f9e2b8;
  padding: 2px 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f9e2b8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #237d37;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 2px 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3cb957;
}

::-webkit-scrollbar-track-piece {
  background-color: #237d3700;
}
